#calendar {
    padding: 0 3%;
    position: relative;
    width: 100%;
    &.openModal {
        background: rgba(119, 116, 134, 0.21);
    }
    .nav-title {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        button {
            //background-color: #FA8072;
            background-color: #fe5e51;
            border-color: transparent;
            border-radius: 3px;
            padding: 10px;
            color: white;
        }
    }
    .nav-calendar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 220px;
        margin: 0 auto 30px;
        .prev,
        .next {
            cursor: pointer;
            color: #ffb554;
        }
        .month {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            width: inherit;
            margin: 0 5%;
        }

    }
    
    table {
        width: 100%;
        tr {
            display: flex;
            width: 100%;
            &.dayNumber {
                flex-wrap: wrap;
                border-left: 1px solid lightgray;
                font-size: 20px;
                td {
                    height: 100px;
                    border-right: 1px solid lightgray;
                    border-bottom: 1px solid lightgray;
                    padding: 5px;
                    &.sunday {
                        color: #fe5e51;
                        font-weight: bold;
                    }
                    &.today {
                        padding-top: 0;
                        border-top: 5px solid #ffb554;
                    }
                    &.otherMonth {
                        color: lightgray;
                    }
                    &.isHoliday {
                        color: #fe5e51;
                        font-weight: bold;
                        display: flex;
                        justify-content: space-between;
                        .holidayName {
                            font-size: 12px;
                            padding: 5px;
                            text-decoration: underline;
                        }
                    }
                   
                }
            }
            &.dayName {
                text-align: center;
                height: 60px;
                align-items: center;
               // background-color: #d9ebfb;
                background-color: #36abb5;
                color: white;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
            }
            td {
                flex-grow: 0;
                flex: 0 1 calc(100% / 7);
                
            }
        }
        
    }
}