#calendar {
    padding: 0 3%;
    width: 100vw;
    .nav-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        button {
            background-color: #415289;
            border-color: transparent;
            border-radius: 3px;
            padding: 10px;
            color: white;
        }
    }
    .nav-calendar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 220px;
        margin: 0 auto 30px;
        .prev,
        .next {
            cursor: pointer;
        }
        .month {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            width: inherit;
            margin: 0 5%;
        }

    }
    
    table {
        width: 100%;
        tr {
            display: flex;
            width: 100%;
            &.dayNumber {
                flex-wrap: wrap;
                border-left: 1px solid lightgray;
                td {
                    height: 100px;
                    border-right: 1px solid lightgray;
                    border-bottom: 1px solid lightgray;
                    padding: 5px;
                }
            }
            &.dayName {
                text-align: center;
                height: 60px;
                align-items: center;
                background-color: #d9ebfb;
            }
            td {
                flex-grow: 0;
                flex: 0 1 calc(100% / 7);
                
            }
        }
        
    }
}