nav {
  
    background-color: white;
    color: #A1ABB3;
    ul {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #AFC3CD;
        li {
            padding: 20px;
            &:hover {
                cursor: pointer;
            }  
            &.router-link-active {
                border-bottom: 2px solid #4A85A8;
            }      
            svg {
                margin: 0 15px 0 25px;
            }
              
          }
    }
}
